# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
.next/
out/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project Specific
backend/tmp_uploads/
backend/registry.json
